fastapi
uvicorn[standard]
python-multipart
langchain
langchain-openai
langchain-core
langchain-community
langchain-chroma
docx2txt
pypdf
sentence-transformers
pydantic
python-dotenv
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
email-validator